/* Основные стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-links li a:hover {
    color: dodgerblue;
  }
  
  /* Бургер-меню */
  .burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .burger-menu .line {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
  }
  
  /* Стили для различных устройств */
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #333;
      padding: 10px;
      z-index: 1;
      text-align: center;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .burger-menu {
      display: flex;
    }
  }
  
  /* Стили для адаптивности контента */
  @media (max-width: 768px) {
    h1 {
      font-size: 24px;
    }
  
    p {
      font-size: 16px;
    }
  }
  
  /* Пример адаптивности для других элементов вашего сайта */
  @media (max-width: 480px) {
    /* Напишите здесь стили для мобильных устройств */
  }
  
  /* Дополнительные стили и адаптивность можно добавить по мере необходимости */
  .fa-fa-home{
    color: white;
  }